[submodule "packages/model/src/RWKV-LM"]
	path = packages/model/src/RWKV-LM
	url = https://github.com/BlinkDL/RWKV-LM.git
[submodule "packages/model/src/tokenizer/json2binidx_tool"]
	path = packages/model/src/tokenizer/json2binidx_tool
	url = https://github.com/Abel2076/json2binidx_tool.git
